* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  color: #333333;
  font-size: 18px;
  line-height: 28px;
}

h1, h2, h3 {
  margin: 0;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.intro {
  width: 1340px;
  height: 650px;
  padding: 10px;
  margin: 0 auto;
  position: relative;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 15px 0px fade(#333333, 50%);
}
.intro__imagen {
  width: 1320px;
  position: absolute;
}
.intro__imagen img {
  width: 100%;
  height: 624px;
  object-fit: cover;
}
.intro__contenido {
  width: 50%;
  margin: 0 auto;
  position: absolute;
  top: 156px;
  left: 0;
  right: 0;
  text-align: center;
  color: #FFFFFF;
}
.intro__categoria {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
}
.intro__titulo {
  line-height: 60px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
}
.intro__autor {
  width: 150px;
  margin: 0 auto;
  position: absolute;
  top: 400px;
  left: 0;
  right: 0;
  color: #FFFFFF;
}
.intro__autor img {
  width: 60px;
  height: 50px;
  float: left;
  padding-right: 10px;
  border-radius: 10em;
}
.intro__autor span {
  display: inline-block;
}
.intro__autor-titulo {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.intro__autor-nombre {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.articulo--principal {
  max-width: 660px;
  margin: 0 auto;
}
.articulo--principal__intro {
  font-size: 25px;
  line-height: 35px;
}
.articulo--principal h2 {
  margin: 40px 0 40px 0;
  text-align: center;
  font-size: 50px;
  line-height: 60px;
}
.articulo--principal h3 {
  color: #8841da;
}

.contenedor--cajas {
  width: 1340px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.caja {
  max-width: 430px;
  margin-bottom: 1em;
  box-shadow: 0px 5px 15px 0px fade(#333333, 50%);
}
.caja__contenido {
  padding: 25px;
  background-color: #FFFFFF;
}
.caja span {
  color: #8841da;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.caja a {
  text-decoration: none;
  color: #012179;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.header--principal {
  display: flex;
  padding: 0 20px 20px 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #ebebeb;
}

.nav--header ul {
  display: flex;
  padding-top: 35px;
  margin: 0;
}
.nav--header ul li {
  list-style: none;
  margin-right: 50px;
}
.nav--header ul a {
  text-decoration: none;
  color: #012179;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.header__busqueda {
  display: flex;
  margin-left: auto;
  padding-top: 35px;
  text-decoration: none;
}
.header__busqueda i {
  font-size: 20px;
  margin-right: 10px;
  color: #8841da;
}
.header__busqueda span {
  color: #012179;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.footer--principal {
  display: flex;
  padding: 0 20px 20px 20px;
  margin: 0;
  width: 100%;
  height: 160px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  background-color: #333333;
}

.nav--footer ul {
  display: flex;
  padding-top: 35px;
}
.nav--footer ul li {
  list-style: none;
  margin-right: 50px;
}
.nav--footer ul a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.nav--social {
  margin-left: auto;
}
.nav--social ul {
  display: flex;
  padding-top: 35px;
}
.nav--social li {
  list-style: none;
  margin-right: 50px;
  color: #FFFFFF;
}
.nav--social a {
  color: #FFFFFF;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}