.articulos {
    width: 40%;
	padding: 50px 0 0 50px;
	background-color: $color-secundario;
	color: $color-claro;
}

.articulo {
    margin-bottom: 75px;
    border-bottom: 3px solid $color-variacion;
	&__categoria {
		font-weight: 500;
		font-size: 16px;
		color: $color-primario;
		@include titulos($fuente2);
	}
	&__titulo {
		font-size: 20px;
		@include titulos($fuente2);

	}
	&__descripcion {
		margin-bottom: 30px;
		padding-right: 10pxs;
	}
}