.contenido{ 
	justify-content: space-evenly;	
	flex-wrap: wrap;
	@include contenedor;
	padding: 30px 0 0 0;
}
.caja{ 
	max-width: 400px;
	img{ 
		width: 400px;
		height: 250px;
    }
	&__contenido{ 
		padding: 20px;
		background-color: $color-claro;
		@include caja-sombra;
		span{ 
			color: $color-secundario;
			@include titulos($fuente2);
        }
		h3{ 
			@include titulos($fuente2);
        }
    }
}