.contenedor--cajas{
	width: 1340px;
	margin: 0 auto;
	display: flex;
	justify-content: space-evenly;

}

.caja{
	max-width: 400px; 
	@include sombra-caja;
	&__contenido{
		padding: 10px;
		background-color: $color-claro;
		
	}
	span{
		color: $color-secundario;
		@include Oswald;
	}
	a{
		text-decoration: none;
		color: $color-variacion;
		@include Oswald;
	}
	p{
		height: 115px;
	}


}

.caja--con-fondo{
	max-width: 400px;
	display: block;
	box-shadow: none;
	overflow-block: hidden;
	background-color: $color-claro;
	img{
		display: block;
		margin: 0 auto;
		max-width: 100%;
		max-height: auto;
		opacity: .5;
		object-fit: contain;
		position: relative;
	}

	&__contenido{
	
		position: absolute;
		
	}
	
	@include media(desktop-s){
		position: relative;
		img{
			position: absolute;
		}
		
	
		&__contenido{
			padding: 10px;
			position: absolute;
			text-align: center;
			color: $color-claro;
			p{
				color: $color-claro;
			}
			h3{
				color: $color-claro;
			}
		}
		&__categoria{
			display: block;
			width: auto;
			max-width: 100px;
			margin: 0 auto;
			text-align: center;
			color: $color-secundario;
			@include titulos($fuente2);
		}
	}
}