.encabezado--con-filtros{
	@include contenedor;
	padding: 30px 100px;

	h2{
		margin-top: 10px;
		font-weight: 500;
		font-size: 50px;
		@include titulos($fuente2);

	}
		
		
	.filtros{
		width: 250px;
		height: 75px;
		padding: 20px;
		margin-left: auto;
		@include caja-sombra;
		span{
			@include titulos($fuente2);

		} 
		a{
			margin-left: 20px;
			font-size: 25px;	
			color: $color-primario;
			text-decoration: none;

		}

	}
	
}