.footer--principal{
    display:flex;
    padding: 0 20px 20px 20px;
    margin: 0;
    margin-top:20px;
	width: 100%;
    height: 160px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    background-color: $color-primario;
}

.nav--footer ul{
    display: none;
    padding-top: 35px;
    

    li{
        list-style: none;
        margin-right: 50px;
    }
    a{
        text-decoration: none;
        color: $color-claro;
		@include titulos($fuente2);
    }
    @include media(desktop-s){
        display: flex;
    }
}

.nav--social{
    margin-left: auto;
    display: none;

    ul{
        padding-top: 35px ;
        display: flex;
        
    }
    li{
        list-style: flex;
        margin-right: 50px;
        color: $color-claro;
       
        
    }
    span{
        color: $color-secundario;
    }
    a{
        color: $color-claro;
        @include titulos($fuente2);
    }
    @include media(desktop-s){
        display: flex;
        li{
            list-style: none;
        }
    }
} 
